name: Create or Update Release with Mods Zip

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Install jq
        run: sudo apt-get install -y jq

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Compress mods folder
        run: zip -r mods.zip mods
      
      - name: Extract version from config.json
        id: extract_version
        run: |
          VERSION=$(jq -r '.version' scripts/config.json)
          echo "Extracted version: $VERSION"
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION: ${{ steps.extract_version.outputs.version }}
        run: |
          gh release create "v$VERSION" \
          --repo="$GITHUB_REPOSITORY" \
          --title="${VERSION}" \
          --generate-notes

          gh release upload "v$VERSION" mods.zip --repo="$GITHUB_REPOSITORY"
